#root, html, body {
   height: 100vh; /*it gives our application to full height of the screen  */
}

body {
    margin: 0; 
    background-color: whitesmoke;
}

*{
  box-sizing: border-box; /*it gives all sizing border box*/
}

html {
    scroll-behavior: smooth; /*it provides the web page a smooth scroll animation */
}